body {
    background-image: url(../../assets/backgrounds/pastel_blur7.jpg);
}
#page__content{
    width: 100%;
    min-height: fit-content;
}
#catalog-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 20px 55px;
    flex-wrap: wrap;
    padding: 4% 5%;
    width: 90%;
    height: fit-content;
}
#main-content{
    background-color: white;
    width: 100%;
    height: fit-content;
}